h1,h2,h3{
   font-family: 'Pacifico', cursive;
   display: flex;
   justify-content: center;
   margin-top: 10px;
   color:tomato;
   font-weight: bold;
}
.timer{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.field{
   border: 1px;
   border-color: black; 
   border-style: solid;
   padding: 10px 15px 10px 15px;
   min-width: 200px;
}
.field:not(:last-child){
   margin-right: 20px;
}
.value{
   color:purple;
   display: block;
   text-align: center;
   font-size:36px;
   font-family: 'Pacifico', cursive;
   font-weight: bold;
}
.label{
   display: block;
   text-align: center;
   font-family: 'Pacifico', cursive;
   font-size:22px;
   font-weight:100;
}
.button{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
.button__timer:not(:last-child){
   margin-right: 20px;
}
.button__timer{
   min-width: 100px;
   min-height: 50px;
}